@using Microsoft.AspNet.Identity
@model VideoOnDemand.Web.Models.SerieViewModel

@{
    ViewBag.Title = "Details";
}
<style>
    .star {
        direction: rtl;
    }

        .star label:hover,
        .star label:hover ~ label {
            color: yellowgreen;
        }

    input[type="radio"]:checked ~ label {
        color: orange;
    }
</style>
<div class="container">

    <div id="general">
        <div id="imagen">
            <img src="~/images/sample.PNG" alt="" width="390" height="265" />
        </div>
        <div id="detalles">
            <h3>
                <strong>
                    @Html.DisplayFor(m => m.nombre)
                    (@Html.DisplayFor(m => m.fechaLanzamiento.Value.Year))
                </strong>
            </h3>

            @{
                string temp = "";
                foreach (var g in Model.Episodios)
                {
                    temp = g.temporada + "";
                }
            }
            <h4>
                <strong>Temporadas: </strong>
                @temp
            </h4>
           
            <h4>
                <strong>Descripción: </strong>
                @Html.DisplayFor(m => m.descripcion)
            </h4>
            @{
                string gen = "";
                foreach (var g in Model.Generos)
                {
                    gen += g.Nombre + ", ";
                }
            }
            <h4>
                <strong>Género: </strong>
                @gen
            </h4>
            @{
                string act = "";
                foreach (var g in Model.Actores)
                {
                    act += g.Nombre + ", ";
                }
            }
            <h4>
                <strong>Actores: </strong>
                @act
            </h4>
            <div id="leftAll">
                <h4>
                    <button id="btnMiLista" type="button" class="btn btn-defaul">+ Mi Lista</button>
                </h4>
            </div>
        </div>
    </div>


</div>
<div class="container">
    <h3>Temporadas</h3>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#home">Temporada 1</a></li>
        <li><a href="#menu1">Temporada 2</a></li>
        <li><a href="#menu2">Temporada 3</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h4>Lista de episodios</h4>
            <p></p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h4>Lista de episodios</h4>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h4>Lista de episodios</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>




<h2></h2>
<div id="NumResenias"></div>
<label id="identityiduser" style="display:none;">@User.Identity.GetUserId()</label>

<div id="miResenia"></div>

<div id="listaResenias"></div>


<br />
<br />

<div class="container">
    @Html.ActionLink("Regresar", "Index")
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#btnMiLista").click(function () {
                AgregarLista();
            });

            mostrarMiResenia();
            mostrarResenias();

            $(".datepicker").datepicker({
                language: "es",
                autoclose: true
            });
            $(".nav-tabs a").click(function () {
                $(this).tab('show');
            })

        });


        function guardarOpinion() {

            var opinion = {
                Puntuacion: parseInt($('input[name=estrellas]:checked', '#puntuacion').val()),
                Descripcion: $("#txtAreaResenia").val(),
                IdentityId: $("#identityiduser").text(),
                MediaId: parseInt(@Model.id)
            };
             $.ajax({
                 url: '@Url.Action("AddResenia", "Serie")',
                 type: 'POST',
                 dataType: 'JSON',
                 contentType: "application/json",
                 data: JSON.stringify(opinion),
                 success: function (data) {
                     if (data.Success) {
                         mostrarResenias();
                         $("#txtTituloError").html("Reseña");
                         $("#txtError").html("<p>La reseña se ha publicado exitosamente</p>")
                         $("#modalError").modal("show");
                         mostrarMiResenia();
                     } else {
                         if (data.TypeError == 1) {
                             $("#txtTituloError").html("Error: No se permiten más opiniones");
                             $("#txtError").html("<p>Un usuario no puede dar más de una reseña en una misma serie</p>")
                             $("#modalError").modal("show");

                         } else {
                             if (data.TypeError == 2) {
                                 $("#txtTituloError").html("Error: Campos Vacios");
                                 $("#txtError").html("<p>El área de la reseña no puede estar vacío</p>")
                                 $("#modalError").modal("show");
                             }
                         }

                     }
                 }
             });
        }

        function mostrarResenias() {
            $.ajax({
                url: '@Url.Action("getResenias", "Serie")',
                type: 'GET',
                dataType: 'JSON',
                data: { MediaId: @Model.id, UserId: $("#identityiduser").text()},
                success: function (data) {
                    if (data.Success) {
                        //convierto la cadena a un obj JSON
                        var opiniones = JSON.parse(data.Opiniones);
                        //pinto mis elementos en mi tabla
                        $("#listaResenias").empty();
                        $("#NumResenias").empty();
                        var Str = "Reseña";
                        if (data.TotalResenias != 1) {
                            Str += "s";
                        }
                        $("#NumResenias").append("<h4>" + data.TotalResenias + "  " + Str + " </h4>");
                        for (i = 0; i < opiniones.length; i++) {
                            var o = opiniones[i];
                            var html = "<div class='container' style='padding-top: 10px;'><div class='form-group' style = 'border: 1px solid; padding-left:15px; padding-right: 15px;'>";
                            html += "<label style='padding-top: 10px;'>" + o.Usuario.Nombre + "</label>";
                            html += "<label style='padding-top: 10px; padding-left: 20px; padding-right: 20px;'>" + o.FechaRegistro + " </label>";
                            html += "<label style='padding-top: 10px; padding-left: 20px; padding-right: 20px;'>";
                            for (e = 0; e < o.Puntuacion; e++)
                            {
                                html += "<label style='font-size: 20px;'>★</label>";
                            }
                            html += "</label><p>" + o.Descripcion +"</p> </div> </div>";

                            $("#listaResenias").append(html);
                        }
                    } else {
                    }
                }
            });
        }

        function mostrarMiResenia() {
            $.ajax({
                url: '@Url.Action("getMiResenia", "Serie")',
                type: 'GET',
                dataType: 'JSON',
                data: { MediaId: @Model.id, UserId: $("#identityiduser").text()},
                success: function (data) {
                    if (data.Success) {
                        var o = JSON.parse(data.Opinion);
                        $("#miResenia").empty();
                        $("#NumResenias").empty();
                        var Str = "Reseña";
                        if (data.TotalResenias != 1) {
                            Str += "s";
                        }
                        $("#NumResenias").append("<h4>" + data.TotalResenias + "  " + Str + " </h4>");
                        var html = "<div class='container' style='padding-top: 10px;'><div class='form-group' style = 'border: 1px solid; padding-left:15px; padding-right: 15px;'>";
                        html += "<label style='padding-top: 10px;'>" + o.Usuario.Nombre + "</label>";
                        html += "<label style='padding-top: 10px; padding-left: 20px; padding-right: 20px;'>" + o.FechaRegistro + " </label>";
                        html += "<label style='padding-top: 10px; padding-left: 20px; padding-right: 20px;'>";
                        for (e = 0; e < o.Puntuacion; e++) {
                            html += "<label style='font-size: 20px;'>★</label>";
                        }
                        html += "</label><p>" + o.Descripcion + "</p> ";
                        html += "<p style='text-align: right;'><button id='btnAgregar' type='button' class='btn btn-default' onclick='EliminarOpinion();'>Eliminar</button> </p></div></div>";
                        $("#miResenia").append(html);

                    } else {
                        $("#miResenia").empty();
                        $("#NumResenias").empty();
                        var Str = "Reseña";
                        if (data.TotalResenias != 1) {
                            Str += "s";
                        }
                        $("#NumResenias").append("<h4>" + data.TotalResenias + "  " + Str + " </h4>");
                        var html = "<div class='form-group' style='border: 1px solid;'>";
                        html += "<label for='txtAreaResenia' style='padding-top: 10px; padding-left: 20px; font-size: 15px;'>Mi Reseña</label>";
                        html += "<center><textarea id='txtAreaResenia' class='form-control' style='width: 95%; height: 80px; max-width: 100%; padding-left: 20px; padding-top: 10px;' placeholder='Agrega una reseña'></textarea></center>";
                        html += "<div class='form-horizontal'><form id='puntuacion' style='padding-top: 10px; padding-right: 40px;'><p class='star'>";
                        html += "<button id='btnAgregar' type='button' class='btn btn-default' onclick='guardarOpinion();'>Agregar</button>";
                        html += "<input id='radio1' type='radio' name='estrellas' style='display: none;' value='5'><label for='radio1' style='font-size: 20px;'>★</label>";
                        html += "<input id='radio2' type='radio' name='estrellas' style='display: none;' value='4'><label for='radio2' style='font-size: 20px;'>★</label>";
                        html += "<input id='radio3' type='radio' name='estrellas' style='display: none;' value='3'><label for='radio3' style='font-size: 20px;'>★</label>";
                        html += "<input id='radio4' type='radio' name='estrellas' style='display: none;' value='2'><label for='radio4' style='font-size: 20px;'>★</label>";
                        html += "<input id='radio5' type='radio' name='estrellas' style='display: none;' value='1'><label for='radio5' style='font-size: 20px;'>★</label>";
                        html += "</p></form></div></div>";
                        $("#miResenia").append(html);
                    }
                }
            });
        }

        function AgregarLista() {
            var favorite = {
                UserID: $("#identityiduser").text(),
                MediaId: parseInt(@Model.id)
            };
             $.ajax({
                 url: '@Url.Action("AddLista", "Serie")',
                 type: 'POST',
                 dataType: 'JSON',
                 contentType: "application/json",
                 data: JSON.stringify(favorite),
                 success: function (data) {
                     if (data.Success) {
                         $("#txtTituloError").html("Mi Lista");
                         $("#txtError").html("<p>La serie se ha agregado a su lista con éxito</p>")
                         $("#modalError").modal("show");
                     } else {
                         if (data.TypeError == 1) {
                             $("#txtTituloError").html("Error: Mi Lista");
                             $("#txtError").html("<p>Esta serie ya existe en su lista</p>")
                             $("#modalError").modal("show");
                         }
                     }
                 }
             });
        }

        function EliminarOpinion() {
            $.ajax({
                url: '@Url.Action("EliminarOpinion", "Serie")',
                type: 'GET',
                dataType: 'JSON',
                data: { MediaId: @Model.id, UserId: $("#identityiduser").text()},
                success: function (data) {
                    if (data.Success) {
                        $("#txtTituloError").html("Reseña");
                        $("#txtError").html("<p>La reseña se eliminó con éxito</p>")
                        $("#modalError").modal("show");
                        mostrarMiResenia();
                    } else {
                        $("#txtTituloError").html("Error: Reseñas");
                        $("#txtError").html("<p>No se pudo eliminar la reseña</p>")
                        $("#modalError").modal("show");
                    }
                }
            });
        }
    </script>

}