@model IEnumerable<VideoOnDemand.Web.Models.SerieViewModel>
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<h1>Series</h1>
<br />
<input id="buscar" type="search" name="buscar" placeholder="Buscar"/>
<br />
@foreach (var item in Model)
{
<div id="serie">
        <h2 id="titulo">@Html.DisplayFor(model => item.nombre)</h2>
        <div id="duracion">
            <h4>@Html.DisplayFor(model => item.fechaLanzamiento.Value.Year)</h4>
        </div>
        <div id="fecha">
        </div>
        <h6>Géneros: @Html.DisplayFor(model => item.GenerosDisponibles)</h6>
    <div id="Descripcion">
        <h6>Descripcion: @Html.DisplayFor(model => item.descripcion)</h6>
    </div>
    <br />
    <div>
        <div id="duracion">
            <input type="submit" value="+ Mi lista" class="btn btn-default" />
        </div>
        <div id="fecha">
            <input type="submit" value="Detalles" class="btn btn-default" />
        </div>
    </div>
    
    </div>
}