@model IEnumerable<VideoOnDemand.Web.Models.MovieViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Administrar Películas</h2>

<p>
    @Html.ActionLink("Nueva Película", "Create")
</p>
<br />

@using (Html.BeginForm("Index","ManageMovie", FormMethod.Get))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Busqueda por nombre o genero
        </div>
        
        <div class="panel-body">
            Nombre:
            @Html.TextBox("nombre","",new {@class="form-control"})
            <br />
            @Html.DropDownList("idGenero",(IEnumerable<SelectListItem>)ViewBag.ListaGenero, new { @class = "form-control" })
            <br />
            <button type="submit" class="btn btn-default">Buscar</button>
        </div>
    </div>

}
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracionMin)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.fechaLanzamiento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duracionMin)
            </td>

            <td>
                @item.fechaLanzamiento.Value.ToString("dd/MM/yyyy")
                
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
