@model VideoOnDemand.Web.Models.EpisodioViewModel

@{
    ViewBag.Title = "Delete";
    string Title = "Eliminar Episodio";
}

<h2>@Title</h2>

<h3>&iquest;Est&aacute;s seguro que deseas eliminar este episodio?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.duracionMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.duracionMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaRegistro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaLanzamiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaLanzamiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temporada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temporada)
        </dd>

        <dt>
            @Html.DisplayName("Serie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index", new { id = Model.serieId })
        </div>
    }
</div>
