@model IEnumerable<VideoOnDemand.Web.Models.EpisodioViewModel>

@{
    ViewBag.Title = "Administrar Episodios";
}

<h2>@ViewBag.Title</h2>

<h3>Serie: @ViewBag.Serie</h3>
<p>
    @Html.ActionLink("Crear nuevo episodio", "Create", new { id = ViewBag.SerieId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.temporada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numEpisodio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.id != 0)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.temporada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numEpisodio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
            </td>
        </tr>
    }
}

</table>

<div>
    @Html.ActionLink("Regresar", "Index", "ManageSerie")
</div>
