@model VideoOnDemand.Web.Models.PersonaViewModel
@using VideoOnDemand.Web.Controllers;
@{
    ViewBag.Title = "Eliminar Actor";
}

<h2>@ViewBag.Title</h2>

<h3>&iquest;Est&aacute;s seguro que deseas eliminar este actor?</h3>
<div>
    <h4>Eliminar Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @if (Model.FechaNacimiento != null)
            {
                @Model.FechaNacimiento.Value.ToString("dd/MM/yyyy")
            }
            else
            {
                @Html.DisplayFor(model => model.FechaNacimiento)
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista de actores", "Index")
        </div>
    }
</div>

@section Scripts {
<script type="text/javascript">
        @{string html = "";}
        var errorMessage = "<p style='color: red'>El actor @Model.Nombre esta siendo utilizado por una película o serie y no se puede eliminar.</p>";
        var peliculas = "";
        if(@ViewBag.Error == 1) {
            @{ if (ViewBag.Salto != 0) {
                    foreach (var std in ViewData["inUsing"] as List<PersonaController.lstMedias>)
                    {
                        html += @std.nombre + " - " + @std.tipo + ",";

                    }
                }
            }
            peliculas = "@html.ToString()"
            var arregloMedias = peliculas.split(",");
            var listado = "<ul>";
            for(var i = 0; i < arregloMedias.length - 1; i++){
                listado = listado + "<li>" + arregloMedias[i] + "</li>"
            }
            listado = listado + "</ul>"
            $("#txtError").html(errorMessage + listado)
            $("#modalError").modal('show');
        }
</script>
    }
