@model IEnumerable<VideoOnDemand.Web.Models.SerieViewModel>

@{
    ViewBag.Title = "Administrar Series";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nueva Serie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaLanzamiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaLanzamiento)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id }) |
            @Html.ActionLink("Episodios", "ManageEpisodios/Index", new { id = item.id }) |
        </td>
    </tr>
}

</table>
