@model IEnumerable<VideoOnDemand.Web.Models.SerieViewModel>

@{
    ViewBag.Title = "Index";
    string Title = "Administrar Series";
}

<h2>@Title</h2>

<p>
    @Html.ActionLink("Crear nueva Serie", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaLanzamiento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @item.fechaLanzamiento.Value.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id }) |
            @Html.ActionLink("Episodios", "Index", "ManageEpisodio", new { id = item.id }, null)
        </td>
    </tr>
}

</table>
